In [ ]:
# https://datasets.imdbws.com/
# https://www.imdb.com/interfaces/

In [1]:
import pandas as pd

In [ ]:
'''
TO LOOK AT DATA:
'''

In [2]:
# title.ratings.tsv.gz – Contains the IMDb rating and votes information for titles

# tconst (string) - alphanumeric unique identifier of the title
# averageRating – weighted average of all the individual user ratings
# numVotes - number of votes the title has received

title_ratings = pd.read_csv('title.ratings.tsv',sep='\t')
title_ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1892
1  tt0000002            5.9       252
2  tt0000003            6.5      1686
3  tt0000004            5.7       165
4  tt0000005            6.2      2499

In [3]:
# name.basics.tsv.gz – Contains the following information for names:

# nconst (string) - alphanumeric unique identifier of the name/person
# primaryName (string)– name by which the person is most often credited
# birthYear – in YYYY format
# deathYear – in YYYY format if applicable, else '\N'
# primaryProfession (array of strings)– the top-3 professions of the person
# knownForTitles (array of tconsts) – titles the person is known for

name_basics = pd.read_csv('name.basics.tsv',sep='\t')
name_basics.head(5)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0050419,tt0053137,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0037382,tt0038355,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0049189,tt0054452,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0077975,tt0072562,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0060827,tt0050986,tt0050976"

In [4]:
# title.crew.tsv.gz – Contains the director and writer information for all the titles in IMDb. Fields include:

# tconst (string) - alphanumeric unique identifier of the title
# directors (array of nconsts) - director(s) of the given title
# writers (array of nconsts) – writer(s) of the given title

title_crew = pd.read_csv('title.crew.tsv',sep='\t')
title_crew.head(5)

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [5]:
# title.episode.tsv.gz – Contains the tv episode information. Fields include:

# tconst (string) - alphanumeric identifier of episode
# parentTconst (string) - alphanumeric identifier of the parent TV Series
# seasonNumber (integer) – season number the episode belongs to
# episodeNumber (integer) – episode number of the tconst in the TV series

title_episode = pd.read_csv('title.episode.tsv',sep='\t')
title_episode.head(5)

      tconst parentTconst seasonNumber episodeNumber
0  tt0020666   tt15180956            1             2
1  tt0020829   tt15180956            1             1
2  tt0021166   tt15180956            1             3
3  tt0021612   tt15180956            2             2
4  tt0021655   tt15180956            2             5

In [6]:
# title.akas.tsv.gz - Contains the following information for titles:

# titleId (string) - a tconst, an alphanumeric unique identifier of the title
# ordering (integer) – a number to uniquely identify rows for a given titleId
# title (string) – the localized title
# region (string) - the region for this version of the title
# language (string) - the language of the title
# types (array) - Enumerated set of attributes for this alternative title. One or more of the following: "alternative", "dvd", "festival", "tv", "video", "working", "original", "imdbDisplay". New values may be added in the future without warning
# attributes (array) - Additional terms to describe this alternative title, not enumerated
# isOriginalTitle (boolean) – 0: not original title; 1: original title

title_akas = pd.read_csv('title.akas.tsv',sep='\t')
title_akas.head(5)

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_55570/2735051456.py:12: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  title_akas = pd.read_csv('title.akas.tsv',sep='\t')

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [7]:
# title.basics.tsv.gz - Contains the following information for titles:

# tconst (string) - alphanumeric unique identifier of the title
# titleType (string) – the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
# primaryTitle (string) – the more popular title / the title used by the filmmakers on promotional materials at the point of release
# originalTitle (string) - original title, in the original language
# isAdult (boolean) - 0: non-adult title; 1: adult title
# startYear (YYYY) – represents the release year of a title. In the case of TV Series, it is the series start year
# endYear (YYYY) – TV Series end year. ‘\N’ for all other title types
# runtimeMinutes – primary runtime of the title, in minutes
# genres (string array) – includes up to three genres associated with the title

title_basics = pd.read_csv('title.basics.tsv',sep='\t')
title_basics.head(5)

/var/folders/zh/mnvg84rj3_7413ycjzpn5y8r0000gp/T/ipykernel_55570/952738432.py:13: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics = pd.read_csv('title.basics.tsv',sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [8]:
# title.principals.tsv.gz – Contains the principal cast/crew for titles

# tconst (string) - alphanumeric unique identifier of the title
# ordering (integer) – a number to uniquely identify rows for a given titleId
# nconst (string) - alphanumeric unique identifier of the name/person
# category (string) - the category of job that person was in
# job (string) - the specific job title if applicable, else '\N'
# characters (string) - the name of the character played if applicable, else '\N'

title_principals = pd.read_csv('title.principals.tsv',sep='\t')
title_principals.head(5)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [9]:
titleType_list = list(title_basics.groupby(['titleType'])['tconst'].count().reset_index()['titleType'])
titleType_list

['movie',
 'short',
 'tvEpisode',
 'tvMiniSeries',
 'tvMovie',
 'tvPilot',
 'tvSeries',
 'tvShort',
 'tvSpecial',
 'video',
 'videoGame']

In [10]:
'''
TO CREATE A SHORT DATASET ONLY ABOUT MOVIES
'''
# title_basics +
# title_ratings +
# title_crew ?


movies_main = title_basics[title_basics['titleType'] == 'movie'].merge(title_ratings, left_on='tconst', right_on='tconst')
movies_main = movies_main.merge(title_akas[['title','region','language']][title_akas['isOriginalTitle'] == 1].drop_duplicates(), left_on='originalTitle', right_on='title', how='left')

# movies_main = movies_main.drop_duplicates()
# movies_main.head(5)

In [11]:
'''
LIST OF GENRES
'''

genres_df = movies_main.groupby(['genres'])['tconst'].count().reset_index()
# or:
# genres_df2 = title_basics.groupby(['genres'])['tconst'].agg('count').reset_index()

genres_df_3col = genres_df['genres'].str.split(',',expand=True)
genres_list = list(set(list(genres_df_3col[0]) + list(genres_df_3col[1]) + list(genres_df_3col[2])) )
genres_list.remove(None)
genres_list.remove('\\N')
genres_list = sorted(genres_list)

genres_list

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [ ]:
'''
THE FIRST BIG FUNCTION: TO FILTER TITLES BY THEIR ATTRIBUTES
'''

In [22]:
'''
[+] TO FIND ALL TITLES AT LEAST WITH ONE GENRE FROM THE LIST
'''
def filter_genre_by_list(df, tag_list):
    df_2 = df[df['genres'].notnull()]
    df_3 = df_2.loc[df_2['genres'].apply(lambda x: True if any(str.lower(tag) in str.lower(x) for tag in tag_list) else False)]
    return df_3
'''
[+] TO FIND ALL TITLES WITHOUT EACH GENRE FROM THE ANTI-LIST
'''
def filter_genre_by_anti_list(df, tag_list = []):
    df_2 = df[df['genres'].notnull()]
    df_3 = df_2.loc[df_2['genres'].apply(lambda x: False if any(str.lower(tag) in str.lower(x) for tag in tag_list) else True)]
    return df_3

'''
[+] TO FIND ALL TITLES CONTAINED A GIVEN LIST OF TAGS
'''
def filter_title_by_list(df, tag_list = []):
#     column_nm = 'originalTitle'
    df_2 = df[df['originalTitle'].notnull()]
    df_3 = df_2.loc[df_2['originalTitle'].apply(lambda x: True if all(str.lower(tag) in str.lower(x) for tag in tag_list) else False)]
    return df_3

'''
[+] TO FIND ALL TITLES WITH RATING MORE THAN GIVEN LIMIT
'''
def filter_rating(df, low_limit=0, min_votes=0):
    df_2 = df[df['averageRating'].apply(lambda x: True if float(x) >= low_limit else False)]
    df_3 = df_2[df_2['numVotes'].apply(lambda x: True if int(x) >= min_votes else False)]
    return df_3

'''
[+] TO FIND ALL TITLES MADE IN GIVEN YEAR RANGE
'''
def filter_year(df, left_year=1800, right_year=2200):
    df_2 = df[df['startYear'] != '\\N']
    df_3 = df_2[df_2['startYear'].apply(lambda x: True if (int(x) >= left_year and int(x) <= right_year) else False)]
    return df_3

'''
[+] TO FIND ALL TITLES WITH DURATION IN GIVEN RANGE
'''
def filter_runtime(df, left_runtime=0, right_runtime=1000):
    df_2 = df[df['runtimeMinutes'] != '\\N']
    df_3 = df_2[df_2['runtimeMinutes'].apply(lambda x: True if (int(x) >= left_runtime and int(x) <= right_runtime) else False)]
    return df_3


def filter_title_by_attributes(df, attr_dict):
    if 'genres_list' in attr_dict.keys() and 'exclude_genres_list' in attr_dict.keys() and len([g for g in attr_dict['genres_list'] if g in attr_dict['exclude_genres_list']]) > 0:
        raise Exception("Error: genres_list and exclude_genres_list crosses!")
    else:
        if 'genres_list' in attr_dict.keys():
            df = filter_genre_by_list(df, attr_dict['genres_list'])

        if 'exclude_genres_list' in attr_dict.keys():
            df = filter_genre_by_anti_list(df, attr_dict['exclude_genres_list'])

#         if attr_dict['tags_list'] is not None:
        if 'tags_list' in attr_dict.keys():
            df = filter_title_by_list(df, attr_dict['tags_list'])
            
        if 'min_rating' in attr_dict.keys() and 'min_votes' in attr_dict.keys():
            df = filter_rating(df, attr_dict['min_rating'], attr_dict['min_votes'])
        elif 'min_rating' in attr_dict.keys():
            df = filter_rating(df, attr_dict['min_rating'], 0)
        elif 'min_votes' in attr_dict.keys():
            df = filter_rating(df, 0, attr_dict['min_votes'])

        if 'min_year' in attr_dict.keys() and 'max_year' in attr_dict.keys():
            df = filter_year(df, attr_dict['min_year'], attr_dict['max_year'])
        elif 'min_year' in attr_dict.keys():
            df = filter_year(df, attr_dict['min_year'], 2200)
        elif 'max_year' in attr_dict.keys():
            df = filter_year(df, 1800, attr_dict['max_year'])

        if 'min_runtime' in attr_dict.keys() and 'max_runtime' in attr_dict.keys():
            df = filter_runtime(df, attr_dict['min_runtime'], attr_dict['max_runtime'])
        elif 'min_runtime' in attr_dict.keys():
            df = filter_runtime(df, attr_dict['min_runtime'], 1000)
        elif 'max_runtime' in attr_dict.keys():
            df = filter_runtime(df, 0, attr_dict['max_runtime'])

        if df.shape[0] > 0 and 'order_of_sorting' in attr_dict.keys():
            df = df.sort_values([s[0] for s in attr_dict['order_of_sorting']],
                  ascending = [s[1] for s in attr_dict['order_of_sorting']])
    return df

In [ ]:
'''
THE SECOND BIG FUNCTION: TO FILTER TITLES BY PERSONS
'''

In [13]:
category_list = list(title_principals.groupby(['category'])['tconst'].count().reset_index()['category'])
category_list

['actor',
 'actress',
 'archive_footage',
 'archive_sound',
 'cinematographer',
 'composer',
 'director',
 'editor',
 'producer',
 'production_designer',
 'self',
 'writer']

In [14]:
'''
[+] TO RETURN ALL target_col FOR col CONTAINED ALL/ANY VALUES FROM options (NEW -- COMMON VERSION)
'''

def filter_column_by_list(df, target_col, col, options, quantifier):
    df = df[[target_col, col]][df[col].notnull()]
    if quantifier == 'all':
        for option in options:
            df_temp = df.loc[df[col].apply(lambda x: True if str.lower(option) == str.lower(x) else False)]
            df = df.merge(df_temp[[target_col]], left_on=target_col, right_on=target_col, how='inner')
    elif quantifier == 'any':
        df_list = []
        for option in options:
            df_temp = df.loc[df[col].apply(lambda x: True if str.lower(option) == str.lower(x) else False)]
            df_list.append(df_temp[[target_col]])
        df_temp = pd.concat(df_list)
        df = df.merge(df_temp[[target_col]], left_on=target_col, right_on=target_col, how='inner')
    df = df.drop_duplicates()
    return df[[target_col]]

'''
[+] TO FIND ALL TITLES CONTAINED A GIVEN LIST OF SEVERAL CATEGORIES
'''
def filter_titles_by_persons(df, search_dict):
    if len(search_dict) == 0:
        return 'No conditions :('
    else:
        category_list = list(title_principals.groupby(['category'])['tconst'].count().reset_index()['category'])
        for category_nm in category_list:
            if category_nm in search_dict.keys():
                pers_df = title_principals[['tconst', 'nconst', 'category']][title_principals['category'] == category_nm]
                pers_df_temp = name_basics[['nconst','primaryName','birthYear','deathYear']].merge(pers_df, left_on='nconst', right_on='nconst', how='inner')
                df = df.merge(filter_column_by_list(pers_df_temp, 'tconst', 'primaryName', search_dict[category_nm][0], search_dict[category_nm][1])[['tconst']], left_on='tconst', right_on='tconst', how='inner')
        df = df.drop_duplicates()
        
        category_list = ['director', 'composer', 'producer', 'writer']
        pers_df = title_principals[['tconst', 'nconst', 'category']][title_principals['category'].isin(category_list)]
        pers_df_temp = name_basics[['nconst','primaryName']].merge(pers_df, left_on='nconst', right_on='nconst', how='inner')
        tail_df = df[['tconst']].merge(pers_df_temp[['tconst','primaryName','category']], left_on='tconst', right_on='tconst', how='inner')
        tail_df = tail_df.drop_duplicates()
        tail_df = pd.melt(tail_df, 
             id_vars=['tconst', 'primaryName'],
             value_vars=['category'], 
             value_name='category2').groupby(['tconst','category2'])['primaryName'].agg(', '.join).reset_index()
        tail_df = tail_df.drop_duplicates()
        tail_df = tail_df.pivot(index="tconst", columns="category2", values="primaryName").reset_index()
        df2 = df.merge(tail_df, left_on='tconst', right_on='tconst', how='left')
        
        return df2

In [19]:
'''
[+] COMMON FUNCTION
'''

# need the following tables:
# title_basics
# title_ratings
# title_principals
# name_basics

def filter_imdb(filter_dict):
    if 'titleType' in filter_dict.keys():
        df_movies = title_basics[title_basics['titleType'].isin(filter_dict['titleType'])].merge(title_ratings, left_on='tconst', right_on='tconst')
    else:
        df_movies = title_basics.merge(title_ratings, left_on='tconst', right_on='tconst')
        
    df_movies = filter_title_by_attributes(df_movies, filter_dict)
    df_movies = filter_titles_by_persons(df_movies, filter_dict)
    df_movies.drop(['isAdult'], axis=1)
    
    return df_movies

In [ ]:
'''
USING OF FUNCTION
'''

In [15]:
# test movie table
df = title_basics[['tconst','titleType','primaryTitle','originalTitle','startYear','endYear','runtimeMinutes','genres']][title_basics['titleType'] == 'movie']

In [20]:
# to check person's availability in database

name_basics.loc[name_basics['primaryName'].isin(['Léa Seydoux'])]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
5304644,nm2244205,Léa Seydoux,1985,\N,"actress,miscellaneous,soundtrack","tt1605783,tt2379713,tt2382320,tt2278871"

In [24]:

filter_dict = {}
filter_dict['titleType'] = ['movie']

filter_dict['genres_list'] = ['Drama']  # ['Mystery', 'Crime']
# filter_dict['exclude_genres_list'] = ['Documentary']   #    # 'Crime','Documentary'
# filter_dict['tags_list'] = ['kill']
filter_dict['min_rating'] = 6.0
filter_dict['min_votes'] = 1000
# filter_dict['min_year'] = 2000
# filter_dict['max_year'] = 2000
# filter_dict['min_runtime'] = 90
# filter_dict['max_runtime'] = 150
filter_dict['order_of_sorting'] = [['averageRating', False], ['startYear', True]]

# filter_dict['director'] = [[''], 'all']
# filter_dict['producer'] = [[''], 'all']
# filter_dict['writer'] = [[''], 'all']
# filter_dict['composer'] = [[''], 'all']
# filter_dict['actor'] = [['Robert Pattinson', 'Tom Holland'], 'all']   # 'any' 
filter_dict['actress'] = [['Léa Seydoux'], 'any'] 


filter_imdb(filter_dict)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,composer,director,producer,writer
0,tt2278871,movie,Blue Is the Warmest Colour,La vie d'Adèle,0,2013,\N,180,"Drama,Romance",7.7,150322,NaN,Abdellatif Kechiche,"Vincent Maraval, Brahim Chioua","Ghalya Lacroix, Julie Maroh"
1,tt8847712,movie,The French Dispatch,The French Dispatch,0,2021,\N,107,"Comedy,Drama,Romance",7.2,109449,NaN,Wes Anderson,"Jeremy Dawson, Steven Rales","Jason Schwartzman, Roman Coppola, Hugo Guinness"
2,tt2062969,movie,Sister,L'enfant d'en haut,0,2012,\N,97,"Crime,Drama",7.0,6810,John Parish,Ursula Meier,Ruth Waldburger,"Antoine Jaccoud, Gilles Taurand"
3,tt1405809,movie,Lourdes,Lourdes,0,2009,\N,96,Drama,6.9,3486,NaN,Jessica Hausner,"Philippe Bober, Martin Gschlacht, Susanne Marian",NaN
4,tt4645368,movie,It's Only the End of the World,Juste la fin du monde,0,2016,\N,97,Drama,6.8,23323,NaN,Xavier Dolan,"Nathanaël Karmitz, Sylvain Corbeil, Nancy Gran...",Jean-Luc Lagarce
5,tt1263778,movie,The Beautiful Person,La belle personne,0,2008,\N,97,"Comedy,Drama",6.6,7205,NaN,Christophe Honoré,"Sophie Barrat, Joëy Faré, Florence Dormoy","Madame de La Fayette, Gilles Taurand"
6,tt4951982,movie,The Command,Kursk,0,2018,\N,117,"Action,Adventure,Drama",6.6,18799,Alexandre Desplat,Thomas Vinterberg,Ariel Zeitoun,"Robert Rodat, Robert Moore"
7,tt2316801,movie,Beauty and the Beast,La belle et la bête,0,2014,\N,112,"Drama,Family,Fantasy",6.4,20996,Pierre Adenot,Christophe Gans,Richard Grandpierre,"Jeanne-Marie Leprince de Beaumont, Sandra Vo-Anh"
8,tt1594534,movie,Traceless,Sans laisser de traces,0,2010,\N,95,"Crime,Drama,Thriller",6.3,1532,Christophe Lapinta,Grégoire Vigneron,NaN,Laurent Tirard
9,tt8359840,movie,Oh Mercy!,"Roubaix, une lumière",0,2019,\N,119,"Crime,Drama",6.3,2067,NaN,Arnaud Desplechin,"Pascal Caucheteux, Serge Hayat, Grégoire Sorlat","Mosco Boucault, Léa Mysius"
10,tt1753813,movie,"Farewell, My Queen",Les adieux à la reine,0,2012,\N,100,"Drama,History,Romance",6.2,8629,NaN,Benoît Jacquot,"Jean-Pierre Guérin, Pedro Uriol, Kristina Larsen","Gilles Taurand, Chantal Thomas"
11,tt2835548,movie,Grand Central,Grand Central,0,2013,\N,94,"Drama,Romance",6.2,2650,Robin Coudert,Rebecca Zlotowski,Frédéric Jouve,"Gaëlle Macé, Ulysse Korolitski"
12,tt2707848,movie,Saint Laurent,Saint Laurent,0,2014,\N,150,"Biography,Drama,Romance",6.1,5904,NaN,Bertrand Bonello,"Eric Altmayer, Nicolas Altmayer, Christophe La...",Thomas Bidegain
13,tt8205028,movie,The Story of My Wife,A feleségem története,0,2021,\N,169,"Drama,Romance",6.1,1354,NaN,Ildikó Enyedi,"Maren Ade, Peggy Hall, Janine Jackowski, Jonas...",Milán Füst
14,tt14549466,movie,Crimes of the Future,Crimes of the Future,0,2022,\N,107,"Drama,Horror,Sci-Fi",6.1,8083,Howard Shore,David Cronenberg,"Robert Lantos, Panos Papahadzis, Steve Solomos",NaN